[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
dash = "==2.17.0"
numpy = "*"
pandas = "*"
openpyxl = "*"
requests = "*"
dash-tools = "==1.12.0"

[dev-packages]

[requires]
python_version = "3.11"
