[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
dash = "==2.17.0"
plotly = {version = "==5.21.0", extras = ["express"]}
numpy = "*"
pandas = "*"
openpyxl = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.13"
